 
 
 
    <h1>The New User Registered And Following Are The Details Of This New User </h1>
    <p>
      <table style="font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;	border-width: 1px;border-color: #666666;border-collapse: collapse;background-color: #d3feda;width:500px;">
        <tr>
          <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
          
    <img src="http://openerp-data-migration.com/assets/client.png" title="client"/>&nbsp;&nbsp;Client
          
     </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.first_name %> &nbsp;&nbsp; <%= @user.useraddress.middle_name %> 
            &nbsp;&nbsp;<%= @user.useraddress.last_name %>
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<img src="http://openerp-data-migration.com/assets/company.png" title="company"/> &nbsp;&nbsp;
            Company
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.company %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<img src="http://openerp-data-migration.com/assets/title.png" title="title"/> &nbsp;&nbsp;
            Title
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.title %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

<img src="http://openerp-data-migration.com/assets/phone.png" title="phone"/>
&nbsp;&nbsp;
            Phone
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.phone %>
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
 
<img src="http://openerp-data-migration.com/assets/email.png" title="email"/>
&nbsp;&nbsp;
            Email
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.email %>
       </td>
       </tr>
       
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
 
<img src="http://openerp-data-migration.com/assets/country.png" title="country"/>
&nbsp;&nbsp;
              Country
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.country %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

<img src="http://openerp-data-migration.com/assets/ipaddress.png" title="ipaddress"/>

&nbsp;&nbsp;
              Ip Address
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 
 <%= @user.useraddress.ip_address %> 
       </td>
       </tr>
       </table> 
        
    </p>
    
 
 
