<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The New User Registered And Following Are The Details Of This New User </h1>
    <p>
       user first name is: <%= @user.useraddress.first_name %>.<br/>
       user middle name is: <%= @user.useraddress.middle_name %>.<br/>
       user last name is: <%= @user.useraddress.last_name %>.<br/>
       user country is: <%= @user.useraddress.country %>.<br/>
       user state is: <%= @user.useraddress.state %>.<br/>
       user zipcode is: <%= @user.useraddress.zip_code %>.<br/>
       user mobile is: <%= @user.useraddress.mobile %>.<br/>
       user phone is: <%= @user.useraddress.phone %>.<br/>
       user address is: <%= @user.useraddress.address %>.<br/>
    </p>
    
    <p>
      For login to site,just follow link :  <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day !!!!!</p>
  </body>
</html>
 