 
 
 
    <h1>The New User Registered And Following Are The Details Of This New User </h1>
    <p>
      <table style="font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;	border-width: 1px;border-color: #666666;border-collapse: collapse;background-color: #d3feda;width:500px;">
        <tr>
          <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
          <%=image_tag "client.png"%> &nbsp;&nbsp; Client
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.first_name %> &nbsp;&nbsp; <%= @user.useraddress.middle_name %> 
            &nbsp;&nbsp;<%= @user.useraddress.last_name %>
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "company.png"%> &nbsp;&nbsp;
            Company
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.company %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "title.png"%> &nbsp;&nbsp;
            Title
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.title %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "phone.png"%> &nbsp;&nbsp;
            Phone
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.phone %>
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "email.png"%> &nbsp;&nbsp;
            Email
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.email %>
       </td>
       </tr>
       
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "country.png"%> &nbsp;&nbsp;
              Country
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 <%= @user.useraddress.country %> 
       </td>
       </tr>
       <tr>
                    <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">
<%=image_tag "ipaddress.png"%> &nbsp;&nbsp;
              Ip Address
            </td>
            
           <td style="border-width: 1px;	padding: 8px;	border-style: solid;	border-color: #666666;	background-color: #ffffff;">

 
 <%= @user.useraddress.ip_address %> 
       </td>
       </tr>
       </table> 
        
    </p>
    
 
 