<%= form_for(@erp) do |f| %>
  <% if @erp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@erp.errors.count, "error") %> prohibited this erp from being saved:</h2>

      <ul>
      <% @erp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lable">Database Name :</div>
  <div> <%= f.text_field :database,:class=>"inputs",:placeholder=>"Open Erp Database Name" %></div>
  
  <div class="lable">User Name:</div>
  <div><%= f.text_field :username,:class=>"inputs",:placeholder=>"UserName" %></div>
 
  <div class="lable">Password :</div>
  <div><%= f.password_field :password ,:class=>"inputs",:placeholder=>"Password"%></div>
  <div class="lable" style="width:240px;">Url : (just an domain name without http)</div> 
  <div><%= f.text_field :url ,:class=>"inputs",:placeholder=>"Url"%></div>
    <div class="lable">Port :</div> 
  <div><%= f.text_field :port ,:class=>"inputs",:placeholder=>"Port"%></div>
  
  <div class="lable">
    <%= f.hidden_field :user_id,:value=>current_user.id.to_s %> 
  </div>

  <div class="actions">
    <div >
    <%= f.submit "Done",:class=>"button_done" %>
     </div> 
  </div>
<% end %>
