<p id="notice"><%= notice %></p>
<div class="rightside">
  <h3>   OpenERP Server Credentials Are : </h3> 
</div>
<p>
  <b>Database:</b>
  <%= @erp.database %>
</p>

<p>
  <b>UserName:</b>
  <%= @erp.username %>
</p>
<!--
<p>
  <b>Password:</b>
  <%= @erp.password %>
</p>
-->
<p>
  <b>Url:</b>
  <%= @erp.url %>
</p>

<p>
  <b>Port:</b>
  <%= @erp.port %>
</p>
<%#= link_to 'Edit', edit_erp_path(@erp) %> 
<%#= link_to 'Back', erps_path %>
 <br>
<p> If You Are Ready With OpenERP database credentials Then Click On Start Migration Button</p></br>
<%= button_to "Start Migration",url_for(:action => 'index', :controller => 'imports' ), :id =>@erp.id ,:class=>"button_done"%>