<style>
  .rightside{
    margin:0px !important;
  }
  </style>
<p id="notice"><%= notice %></p>
<div class="rightside">
  <h3>   OpenERP Server Credentials Are : </h3> 
</div>
<p><br/><br/>
  <b>Database:</b>
  <%= @erp.database %>
<br/><br/>
  <b>UserName:</b>
  <%= @erp.username %>
<br/><br/>
  <b>Url:</b>
  <%= @erp.url %>
<br/><br/>
  <b>Port:</b>
  <%= @erp.port %>
</p>
<%#= link_to 'Edit', edit_erp_path(@erp) %> 
<%#= link_to 'Back', erps_path %>
 <br>
 <%= button_to "Start Migration",url_for(:action => 'index', :controller => 'imports' ), :id =>@erp.id ,:id=>"start_migration_button"%>