<div class="left1">
  <div class="text1">
     <ul>
          <%=form_tag('/databases')%>
          <li>Customer</li>
          <li>Supplier</li>
          <li>Charts Of Accounts</li>
     </ul>
    
    <div class="btn" style="margin-left:-50px;margin-top:103px">
      <%#now the flow has been changed instead of creating an database on this step i have to redirect him to a 
       #payment page there will be 2 options to him one is paypal and another is authorized.net.after doing the 
       #payments him to home page and in first step there will be a link to create a db so instead of creating an db here that 
       #db will be created at  him to the first step in jquery steps view%>
      <%#so the id as basic or standard will be saved at payment index page%>
      <%#= link_to image_tag('mg.png'), url_for(:action => 'create', :controller => 'databases',:id=>"basic")%> 
      <%= link_to image_tag('mg.png'), url_for(:action => 'index', :controller => 'payments',:id=>"free")%> 
    </div>
   
      </form>
      
  </div>
 </div>
          
  <div class="meddle">
   <div class="text1">
     <ul>
         <%=form_tag('/databases')%>
         <li>Customer</li>
         <li>Supplier</li>
         <li>Charts Of Accounts</li>
         <li>Products</li>
         <li>Inventory</li>
     </ul>
    </div>
    
    <div class="btn" style="padding-top:92px;">
      
    <%#= link_to image_tag('mg.png'),url_for(:action => 'create', :controller => 'databases',:id=>"standard"),:method=>"post"%>
    <%= link_to image_tag('mg.png'),url_for(:action => 'index', :controller => 'payments',:id=>"standard")%>
      
    </div>
         </form>
         
  </div>
           

<div class="right1">
  <div class="text12">
   <ul>
       <%=form_tag('/databases')%>
      <li>Customer</li>
         <li>Supplier</li>
         <li>Charts Of Accounts</li>
         <li>Products</li>
         <li>Inventory</li> 
      <li>Bill</li>
     <li>Invoice</li>
  </ul>
  </div>
     <div class="btn">
    <%#= link_to image_tag('/images/mg.png'), url_for(:action => 'create', :controller => 'databases',:id=>"premium"),:method=>"post"%>
    <%#=  image_tag('mg.png')%>   
    <%= link_to image_tag('mg.png'),url_for(:action => 'index', :controller => 'payments',:id=>"premium")%>

    </div>
  </form>
</div>
 
 
<div id="left">
  <div class="text">
<%if current_user%>
 
 <div class=" container">

<div class="stepstofollow_coloumn">

<div class="stepsto_followheadingbg">
<div class=" steptofollowtext">Steps To Follow</div>
</div>

<div class="firstselecttext">
 
 
  
 <%=javascript_include_tag "jquery.steps.min"%>
  
 <script>
       
                $(function ()
                {
                    $("#wizard").steps({
                        headerTag: "h2",
                        bodyTag: "section",
                        transitionEffect: "slideLeft",
                        enableFinishButton: false
                    });
                });
     </script>

            <div id="wizard">
                <h2>First Step</h2>
                <section>
                    <p>
                      <strong>1st :- Select Type of Migration From Above Which Will Create On Database For Your Quickbook.
                        <p>Name of Your Database:  
                          <%if current_user.database%>
                             <span style="color:#2184BE"><%=current_user.database.name %></span>
                            <br/>
                            Now Click On Next 
                          <%end%>
                        </p>
                      </strong>
                    </p>
                </section>

                <h2>Second Step</h2>
                <section>
                     
                       <p><strong>2nd :  Now Populate Your QuickBooks Data To Our Mysql Database Using AccessBooks RealTime
                           On Our Server 
      openerp-data-migration.com. Port 3306. user  'rubyonrails' and password is 'IIEinstein'
               . In The Database <span style="color:#2184BE">'<%=current_user.database.name if current_user.database%>'
               </span> See manual for AccessBooks 
               RealTime installation Here
               <a href="http://synergration.com/software/accessbooks-realtime/" target="_blank">Download Access Book</a>
</strong></p>
                      
                    
                </section>

                <h2>Third Step</h2>
                <section>
                   <p> 
                   <p><strong>3rd :-  Download and Install OpenERP Quickbook Module <%= link_to "Here",imports_download_quickbook_path%>
  </strong></p>

<p><strong>Note: While installing this module OpenERP Prompt you for Charts of Accounts-COA selection please do not install any COA aand make sure you set your database currency as required before starting migration  
                <br/>
                After successful installation of OpenERP Qucikbook Module Click on Start Migration Button 
             </strong></p>
                    </p>
                    
                    
                    
                    
                    
                </section>

                <h2>Forth Step</h2>
                <section>
                  <p >
      <%= button_to "Start Migration to OpenERP", {:action => 'new', :controller => 'erps' },:id=>"startmigration_button"%>
                 </p> 
                </section>
            </div>
   

 </div>

    
 </div>
   
  
   
   
   </div>

 

  

<%end%>
</div>
  
  </div>


  