<style>
  table, td, th
{
border:1px solid green !important;
}
th
{
background-color:green !important;
color:white !important;
}

  </style>
<%Database.connection.execute("use #{current_user.database.name}")%> 
<div style="padding-left: 10px;">
           <b style="color:#1b2130">
                The Following Tables Were Get Migrated In Above Openerp      
           </b>
           
           <br/>
           <table>
             <tr>
              
               <th style="color:#1b2130">
                 Table Name
               </th>
                <th style="color:#1b2130">
                 Count
               </th> 
             </tr>
               <tr>
                <td>
                 Company
               </td>
               <td>
                 <%=Company.count%>
                 </td>
             </tr>
               <tr>
                <td>
                 Account
               </td>
               <td>
                 <%=Account.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Customer
               </td>
               <td>
                 <%=Customer.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Vendor
               </td>
               <td>
                 <%=Vendor.count%>
                 </td>
             </tr>
               <tr>
                <td>
                 Employee
               </td>
               <td>
                 <%=Employee.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Itemsalestax
               </td>
               <td>
                 <%=Itemsalestax.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Itemsalestaxgroup
               </td>
               <td>
                 <%=Itemsalestaxgroup.count%>
                 </td>
             </tr>
               <tr>
                <td>
                 Itemservice
               </td>
               <td>
                 <%=Itemservice.count%>
                 </td>
             </tr>
                <tr>
                <td>
                 Itemdiscount
               </td>
               <td>
                 <%=Itemdiscount.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Itemfixedasset
               </td>
               <td>
                 <%=Itemfixedasset.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Itemgroup
               </td>
               <td>
                 <%=Itemgroup.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Iteminventory
               </td>
               <td>
                 <%=Iteminventory.count%>
                 </td>
             </tr>
                <tr>
                <td>
                 Itemnoninventory
               </td>
               <td>
                 <%=Itemnoninventory.count%>
                 </td>
             </tr>
               <tr>
                <td>
                 Iteminventoryassembly
               </td>
               <td>
                 <%=Iteminventoryassembly.count%>
                 </td>
             </tr>
             
                 <tr>
                <td>
                 Itemothercharge
               </td>
               <td>
                 <%=Itemothercharge.count%>
                 </td>
             </tr>
               <tr>
                <td>
                 Itempayment
               </td>
               <td>
                 <%=Itempayment.count%>
                 </td>
             </tr>
              <tr>
                <td>
                 Itemsubtotal
               </td>
               <td>
                 <%=Itemsubtotal.count%>
                 </td>
             </tr>
               <!--<tr>
                <td>
                 Iteminventoryassemblylinedetail
               </td>
               <td>
                 <%#=Iteminventoryassemblylinedetail.count%>
                 </td>
             </tr>-->
           </table>
 
           </div>
<%Database.connection.execute("use mysqlquickbook")%> 