
      <%if !current_user.erp.blank?%>
          <div style="padding-left: 10px;height:128px;">
          OpenERP detail you provided
          <br/>
          database :- <%=current_user.erp.database%>
          <br/>
          username :- <%=current_user.erp.username%>
          
          <br/>
          url :- <%=current_user.erp.url%>
          <br/> 
          port :- <%=current_user.erp.port%>
          <br/> 
         Your Import Status
        <br/>
        <!--<%if current_user.database and  current_user.database.status %>
          Done
        <%else%>
           Not Done,You Will Soon Get an Email from Us , After Import of Data Migration is Done .
        <%end%>-->
        In-Process
        <br/>
        You will get a completion Email from Us once migration is complete.
            Thanks you patient.....!!!!!   
        </div>   
     <%end%>


<%#i am putting here an begin rescue so that if there is an error in database connection then he will be 
#connected to an original database%>
<%begin%>
    <%if current_user and current_user.user_payment_choice%>
      <%if current_user.user_payment_choice == "free"%> 
           <%=render :partial=>"item_count"%>
      <%end%>
      <%if current_user.user_payment_choice == "standard"%> 
             <%=render :partial=>"item_count"%>
      <%end%>
      <%if current_user.user_payment_choice == "premium"%> 
             <%=render :partial=>"item_count"%>
      <%end%>

    <%end%>
<%rescue => e%>
<%logger.info "some connection problem on index page"%>
<%logger.info e.inspect%>

<%Database.connection.execute("use mysqlquickbook")%> 

<%end%>













