 <style>
   #body div div {
     margin:0px;
   }
   </style>
 <div class="container" style="width:50%">
  <div class="new_formbg">
  <div class="mainbg">
  <div class="new_formheadingbg"><b>Change your password</b></div>
     <div class="login_coloumn">
 <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
 <table width="350px;"> 
  
 <%= f.hidden_field :reset_password_token %>
  <tr>
    <td>
        New password 
      </td>
    <td > 
     
           <%= f.password_field :password,:placeholder=>"New Password",:class=>"textfieldclass1" ,:style=>""%>
        <div>
          <span style="color:red">
            <%if  @user.errors.messages.has_key? :password   %>
              <!--
              here also i need to check if the message is also not blank because its showing on first page also. that is
              on first time comes on page it should not show the message 
              -->
              <%if !@user.errors.messages[:password][0].blank?%>
                    Password  <%=@user.errors.messages[:password][0] %>
              <%end%> 

            <%end%>
          </span>
       </div>
     </td>
  </tr>
    <tr>
      <td>
        Confirm New Password
        </td>
    <td> 
        
       <%= f.password_field :password_confirmation,:placeholder=>"Password Confirmation",:class=>"textfieldclass1" %>
       <div style="margin:0px;padding:0px;">
    
    <span style="color:red">
    <%if  @user.errors.messages.has_key? :password_confirmation   %>
      <!--
      here also i need to check if the message is also not blank because its showing on first page also. that is
      on first time comes on page it should not show the message 
      -->
      <%if !@user.errors.messages[:password_confirmation][0].blank?%>
            Password  Confirmation <%=@user.errors.messages[:password_confirmation][0] %>
      <%end%> 
    
    <%end%>
    </span>
    
    </div>
       </td>
  </tr>
  
     
  <tr>
     <td width="85"> 
      <label>
       <%= f.submit "Change Password" ,:id=>"migration_button"%>
        </label>
         </td>
  </tr>
</table>
   <% end %>    
       
 <div class="footer" style="line-height:21px;">
 <div class="signinbutton">
   
   <%=link_to "cancel",root_path ,:id=>"migration_button"%>
   
 <%#= render "devise/shared/links" %>
    </div>
 </div>
 </div>
  </div>
 </div>
 </div>
 