<div style="text-align: justify;font-size: 14px;"> 
<h4>Sign in</h4>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html=>{:onsubmit=>"return sign_in_email()"} ) do |f| %>
  <div style="margin:0px;padding:0px;"><%= f.label :email ,:style=>"margin-botton:12px;"%>
    <br/><br/>
    
  <%= f.email_field :email, :autofocus => true,:size=>25,:class=>"inputs",:placeholder=>"Email" %></div>

  <div style="float:none;clear:both;margin-left: 0px;">
<br/>
  <%= f.label :password ,:style=>"margin-botton:12px;"%><br />
    <br/>
  <%= f.password_field :password ,:size=>25,:class=>"inputs",:placeholder=>"Password"%></div>
 
  <% if devise_mapping.rememberable? -%>
    <div style="margin-top:12px;margin-left:0px;"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
    
  <div style="clear:both;margin:0px !important;padding:0px !important;">
<br/> 
  <%= f.submit "Log In" ,:class=>"newbtn_orange" ,:style=>"margin-left:0px;"%>
  <%= link_to "Forgot password?", new_password_path(resource_name),:style=>"margin-left:10px;margin-top:5px;" %><br />
  </div>
<% end %>
 
<div style="height:300px;margin-top:0px;padding-top:0px;">
  <%#= render "devise/shared/links" %>
  
</div>
    </div>
<script>
      
      function sign_in_email(){
        var check_form = true;
        if(!IsEmail($("#user_email").val()))
        {
          alert("Please Enter Email");
          check_form = false;
          return check_form;
        }
       
        if(!$("#user_password" ).val())
        {
          alert("Please Enter Password");
          check_form = false;
          return check_form;
        } 
        
        return  check_form ;
    
      }
             function IsEmail(email) {
                   var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                   return regex.test(email);
             }
        
  </script>
