<%= form_for(@coupen) do |f| %>
  <% if @coupen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupen.errors.count, "error") %> prohibited this coupen from being saved:</h2>

      <ul>
      <% @coupen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coupen %><br>
    
    <%= f.text_field :coupen,:value=>@coupenvalue %>
    <%#in coupen i am keeping a hidden value here%>
    <%=hidden_field_tag "coupenvalue",@coupenvalue%>
  </div>
<br/><br/><br/>
  <div class="actions">
    <%= f.submit "Submit",:id=>"migration_button"%>
  </div>
<% end %>
