<!DOCTYPE HTML>
 
<html>
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="NAdMpipsY6tOwZQEnBko_riNbSe_mAEXhRvvo34AKBM" />
	<title>Quick Book Data Migration</title>
	<%= favicon_link_tag 'favicon.ico' %>	 
        <link rel="stylesheet" href="/assets/style2.css" type="text/css"/>	
        <link rel="stylesheet" href="/assets/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/assets/jquery.steps.css" type="text/css"/>
        
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.steps.min", "data-turbolinks-track" => true %>
 
        
        
         
</head>
<body>
	<div id="header">
          <% if user_signed_in?%>
              <span style="float:right;margin-right:10px;font-size: 10pt;margin-top: 20px;">
                <a href="/users/sign_out" id="migration_button_shared_sign_up"> Logout</a></span>
          <%else%>
             <span style="float:right;margin-right:10px;font-size: 10pt;margin-top: 20px;"><%= link_to "Sign up", new_registration_path(:user) ,:id=>"migration_button_shared_sign_up" %></span>
             <span style="float:right;margin-right:10px;font-size: 10pt;margin-top: 20px;"><a href="/users/sign_in"   id="migration_button_shared_sign_up"> Login</a></span>

          <%end%>
		<div class="section">
			<div class="logo">
				<%=image_tag "Data_migrationlogo1.png"%>
                                 <div style="color:#FF0000;margin-left: 318px;text-decoration: blink;">
                                      Beta
                                   </div>
			</div>
                 	<ul>
				 <%if params[:controller] == "homes"%>
                          <li class="selected">
				 <%else%> 
                            <li>
                                  <%end%>
				
					<a href="/">Home</a>
				</li>
                                <%if params[:controller] == "feedbacks"%>
				<li class="selected">
                                  <%else%>
                                  <li>
                                  <%end%>
					<a href="<%=feedbacks_contactus_path%>">contact us</a>
				</li>
                                <%if params[:controller] == "terms"%>
                                <li class="selected">
                                 
                                <%else%> 
                                <li>
                                 
                                <%end%>
				 
					<a href="<%=terms_path%>">Terms</a>
				</li>
				 
			</ul>
                  
                    
		
		</div>
		 
	</div>
  <div id="body">
    
    <div>
     <div class="notice" style="height: 20px;text-align: center;clear: both;float:none;color:#FF0000 !important" data-no-turbolink>
           <%= notice %>
        <%if params[:controller] == "registrations" and resource and resource.errors and resource.errors.has_key? :email%>
             <%="Email Has Already Been Taken"%>
        <%end%>
     </div>
     <div class="alert" style="height: 20px;text-align: center;clear:both;float:none;color:#FF0000 !important" data-no-turbolink>
<%= alert %>
     </div>
      </div>
    
    <div class="centerdiv"> 
      
      <%=yield%>
     </div>
  </div>
<div id="footer">
		 
</div>
</body>
</html>
