<!DOCTYPE html>
<html>
<head>
  <title>Quickbook To Open Erp</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  
 
  
  
  <%= csrf_meta_tags %>
</head>
<body>
      
<div id="">

	 <div id="main">
<div class="container">
          
  <div class="topbar">
    <div class="logo">
       <%=image_tag "Data_migrationlogo.png"%>
         <div style="color:#FF0000;margin-left: 318px;text-decoration: blink;">
                                      Beta
         </div>
    </div>
    <div class="serchbar">
      <a href="http://pragtech.co.in/" target="_blank">
           <%=image_tag "serch_bar.png"%>
      </a>
         <div style="color:#FF0000;margin-left: 18px;">
      <% if user_signed_in?%>
              <span style="float:right;margin-right:55px;font-size: 10pt;margin-top: 00px;">
                <a href="/users/sign_out" class="newbtn_orange"> Logout</a></span>
          <%else%>
             <span style="float:right;margin-right:55px;font-size: 10pt;margin-top: 00px;"><%= link_to "Sign up", new_registration_path(:user) ,:class=>"newbtn_orange" %></span>
             <span style="float:right;margin-right:10px;font-size: 10pt;margin-top: 00px;"><a href="/users/sign_in"   class="newbtn_orange"> Login</a></span>

          <%end%>
        </div>
   </div>
   <div class="navibar">
     <div class="menu"><a href="/">Home</a></div>
      <div class="menu">|</div>
      <div class="menu"><a href="<%=feedbacks_aboutus_path%>">About Us</a></div>
      <div class="menu">|</div>
      <div class="menu"> <a href="/terms">Terms</a></div>
      <div class="menu">|</div>
       
      <div class="menu"> <a href="<%=feedbacks_contactus_path%>">Contact Us</a></div>
      <div class="menu">|</div>
      <div class="menu"> <a href="<%=helps_path%>">How to use</a></div>
      
    </div>
  </div>
</div>
          <div class="flash">

<div class="bannerbg">

<div class="banner_container">

<div class=" quickbook_coloumn">
<img src="/assets/Quickbook_logo.png" style="margin-left:15px;margin-top:107px;" />

<div class="quickbooktext">
   
</div>



</div>
 



<div class="video_coloumn">
 <a class="video" id="videoimage" title="Quickbook Video" href="http://www.youtube.com/watch?v=Ukx0USXu4BQ&feature=youtu.be">

    <img src="/assets/video.png" />

 </a>


 

</div>

 
<div class="openerp_coloumn"><img src="/assets/openERp.png" style="margin-right:20px; margin-top:107px;" />

<div class="quickbooktext" style="margin-top:25px;"> 
 </div>
 
</div>
</div>
</div>
          


</div>
 
  </div>
</div>

       <div id="main2">
	 <div id="contaner">
         <div class="centerdiv">
              <div class="Messages"><p class="notice"> 
                  <%if params[:action] != "resend_confirmation_email"%>
<%=notice%>
                  <%end%>
      <%if params[:controller] == "registrations" and resource and resource.errors and resource.errors.has_key? :email%>
             <%="Email Has Already Been Taken"%>
        <%end%>
     </p>
       <p class="alert"><%= alert %></p>
       <p class="login">
        <%if current_user%>
          
              <%#=link_to "Log out "+current_user.email, destroy_user_session_path %>
         
       <%end%>
       </p>
  </div> 
           <%= yield %>
          </div>
        </div>
      </div>
       
     
<div id="footer">
<div class="container">  
  <div id="main">
	<div class="footer_text_bar">
    	<div class="footer_menu"><a href="/">Home</a></div>
        <div class="footer_menu">|</div>
        <div class="footer_menu"><a href="<%=feedbacks_aboutus_path%>">About Us</a></div>
        <div class="footer_menu">|</div>
        <div class="footer_menu"><a href="/terms">Terms</a></div>
        <div class="footer_menu">|</div>
        <div class="footer_menu"><a href="/terms/features">Features</a></div>
        <div class="footer_menu">|</div>
        <div class="footer_menu"><a href="<%=feedbacks_contactus_path%>">Contact Us</a></div>
        <div class="footer_text">© Copyright 2010 Pragmatic Techsoft Pvt. Ltd. All rights reserved.</div>
    </div>
    </div>
</div>
</div>  
  
  
    
         
       
        
        



 
   
</body>
</html>
